@model Pure_Life.Models.Kujdestarite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kujdestarite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reparti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reparti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
