@model IEnumerable<Pure_Life.Models.Analiza.Analiza>

<div class="card card-custom">
	<div class="card-header flex-wrap py-5">
		<h1 class="card-label">Analizat</h1>
		<div class="card-toolbar">
			<a asp-action="Create" class="btn btn-primary font-weight-bolder">
				<span class="svg-icon svg-icon-md">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24" />
							<circle fill="#000000" cx="9" cy="15" r="6" />
							<path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
						</g>
					</svg>
				</span>	Krijo
			</a>
		</div>
	</div>
</div>


<table class="table">
	<thead class="thead-dark">
		<tr>
			<th> @Html.DisplayNameFor(model => model.Emri)</th>
			<th> @Html.DisplayNameFor(model => model.Cmimi)</th>
			<th> Date Created</th>
			<th> Actions </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Emri)</td>
				<td>@Html.DisplayFor(modelItem => item.Cmimi) Euro</td>
				<td>@Html.DisplayFor(modelItem => item.Data)</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-icon" title="View details">
						<i class="la la-eye"></i>
					</a>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-icon" title="Edit details">
						<i class="la la-edit"></i>
					</a>
					<a data-id="@item.Id" data-toggle="modal" data-target="#delete-modal" class="btn btn-sm btn-icon delete-button" title="Delete">
						<i class="la la-trash"></i>
					</a>
					@*   <a href="#" class="btn btn-sm btn-icon delete-link" data-id="@item.Id" title="Delete">
				<i class="la la-trash" style="color:red;"></i>
				</a>
				<form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:none;" id="delete-form-@item.Id">
				@Html.AntiForgeryToken()
				</form>*@
				</td>
			</tr>
		}
	</tbody>

</table>
@Html.Partial("Delete")
@section Scripts {
		  <script>
			$(function() {
			  $('.delete-button').click(function() {
				var id = $(this).data('id');
				$('#delete-form').attr('action', '/Analizat/Delete/' + id);
			  });
			});
		  </script>
}

@*@section Scripts {
	<script>
		$(function () {
			var deleteFormId;
			$('.delete-link').click(function (e) {
				e.preventDefault();
				deleteFormId = 'delete-form-' + $(this).data('id');
				$('#delete-modal').modal('show');
			});

			$('#delete-confirm-button').click(function () {
				$('#' + deleteFormId).submit();
			});

			$('#delete-cancel-button').click(function () {
				$('#delete-modal').modal('hide');
			});
		});

	</script>
}*@