@model Pure_Life.Models.Stafi

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stafi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrLeternjoftimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrLeternjoftimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mbiemri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mbiemri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gjinia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gjinia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLindjes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLindjes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrLincences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrLincences)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qyteti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qyteti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lemia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lemia.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionaliteti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionaliteti.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shteti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shteti.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rolet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rolet.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
