@model IEnumerable<Pure_Life.Models.Stafi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NrLeternjoftimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mbiemri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gjinia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLindjes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrLincences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qyteti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lemia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionaliteti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shteti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rolet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NrLeternjoftimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mbiemri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gjinia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLindjes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrLincences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qyteti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertedFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lemia.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionaliteti.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shteti.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rolet.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
