@model IEnumerable<Pure_Life.Models.Stafi>

@{
    ViewData["Title"] = "Index";
}

<div class="card p-4 shadow">
    <h1 class="text-center mb-4">Stafi</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary mb-3">Krijo Staf të ri</a>
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="@item.PictureUrl" alt="Foto e @item.Emri @item.Mbiemri">
                    <div class="card-body">
                        <h5 class="card-title">@item.Emri @item.Mbiemri</h5>
                        <p class="card-text">@item.Lemia.Emri</p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
