@model Pure_Life.ViewModel.Llojet.UpdateLlojiViewModel

<h2>Edit Lloji</h2>

@using (Html.BeginForm("Edit", "Llojet", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Emri, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emri, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Emri, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VleratReferente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VleratReferente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VleratReferente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary me-4" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
}

